git+https://github.com/isarandi/fleras.git
git+https://github.com/isarandi/cameralib.git
git+https://github.com/isarandi/boxlib.git
git+https://github.com/isarandi/poseviz.git
git+https://github.com/isarandi/smpl.git
git+https://github.com/isarandi/simplepyutils.git
git+https://github.com/isarandi/tf-parallel-map.git
git+https://github.com/isarandi/BareCat.git
git+https://github.com/isarandi/tensorflow-inputs.git
