attrdict
configobj
tensorflow==2.12.0
tensorflow-addons
tensorflow-hub
tensorflow-io
tensorflow-probability
tensorflow-graphics
chumpy
einops
imageio-ffmpeg
importlib_resources
jpeg4py
more_itertools
numpy-quaternion
opencv-python
transforms3d
yacs
